.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item__image {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}

.portfolio__item__chips{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding:  0 0 1rem;
}

.portfolio__item__header {
  font-size: 2.4rem;
  margin: 1rem 0 0;
}

.portfolio__item__description {
  font-size: 1.4rem;
  color: var(--color-light);
  font-weight: 300;
  flex-grow: 1;
  margin: 0 0 2rem;
}

.portfolio__item__button-block {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

/*? Tablets */

@media screen and (max-width: 1024px) {
}

/*? Mobiles */

@media screen and (max-width: 600px) {
  .portfolio {
    grid-template-columns: 1fr;
    gap: 1.4rem;
  }
}
